body{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5e4442200ffeee35974d1060/1586049970296-14DH7UEP2UWJREIELJ3K/IMG_9780.JPG?format=100w%20100w,https://images.squarespace-cdn.com/content/v1/5e4442200ffeee35974d1060/1586049970296-14DH7UEP2UWJREIELJ3K/IMG_9780.JPG?format=300w%20300w,https://images.squarespace-cdn.com/content/v1/5e4442200ffeee35974d1060/1586049970296-14DH7UEP2UWJREIELJ3K/IMG_9780.JPG?format=500w%20500w,https://images.squarespace-cdn.com/content/v1/5e4442200ffeee35974d1060/1586049970296-14DH7UEP2UWJREIELJ3K/IMG_9780.JPG?format=750w%20750w,https://images.squarespace-cdn.com/content/v1/5e4442200ffeee35974d1060/1586049970296-14DH7UEP2UWJREIELJ3K/IMG_9780.JPG?format=1000w%201000w,https://images.squarespace-cdn.com/content/v1/5e4442200ffeee35974d1060/1586049970296-14DH7UEP2UWJREIELJ3K/IMG_9780.JPG?format=1500w%201500w,https://images.squarespace-cdn.com/content/v1/5e4442200ffeee35974d1060/1586049970296-14DH7UEP2UWJREIELJ3K/IMG_9780.JPG?format=2500w);
    background-size: 100%;
    filter: blur(50%);
    background-repeat: no-repeat;
}

.img1{
    flex-grow: 0;
    flex-shrink: 0;
}
.width-50{
    width:45%;
}
.flex{
    display: flex;
}
.title_header{
  
    margin: 0%;
    margin-right: 250;
    margin-left: 100;
    
}
.space_between{
    justify-content: space-between;
}
.margin-30{
    margin: 30px;
}
.width-100px{
    width: 100px;
}
.width-150px{
    width: 150px;
}
.width-130px{
    width: 130px;
}
.button_apply{
    background-color: green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
}
.height{
    height: 300px;
}
.title{
    font-size: 70px;
    margin-left:100px;
}
.sub{
    font-size: 30;
    margin-left:100px;
}
.column{
    flex-direction: column
}


.f1{
    font; color: white;
}